# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# Virtual Environments
venv/
.venv/
env/
bin/
lib/
include/

# Project specific
downloads/
downloads.yaml

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
